
 <!-- Header Start-->
 <%- include('./include/header.ejs') %>
  <!-- Header End-->
  <link rel="stylesheet" href="/css/shop/companyInfo.css"> 
</head>

<body onload="setMap()">

  <!-- Side bar start -->
  <%- include('./sideBar.ejs') %>
  <!-- Side bar end -->

  <div class="page-wrapper">
    <div class="row">
      <div class="col-lg-10 mt-4">
        <h2 class="text-center">Company Info</h2>
      </div>

      <input type="hidden" value="<%=data.lat%>" id="lat">
      <input type="hidden" value="<%=data.lon%>" id="lon">
      <input type="hidden" value="<%=data.address%>" id="address">
      <div class="col-lg-2 mt-4">
        <form action="/shop/companyinfo" method="post">
          <input type="submit" class="btn btn-success" value="Save">

      </div>

      <div class="col-lg-5 ml-3 mb-5">
        <h2>Business name</h2>
        <input type="text" class="form-control" name="businessName" value="<%=data.businessName%>">
        <h2>Name of Salon</h2>
        <input type="text" class="form-control" name="officialName" value="<%=data.officialName%>">
        <h2>Business Phone</h2>
        <input type="text" class="form-control" name="businessNumber" value="<%=data.businessNumber%>">
        <h2>Short business description</h2>
        <div class="form-group">
          <textarea name="description" value="<%=data.description%>" class="form-control" rows="8"
            placeholder="Text Here..."></textarea>
        </div>
        <h2>E-commerce link</h2>
        <input type="text" class="form-control" name="ecom" value="<%=data.ecom%>">
        <h2>Facebook link</h2>
        <input type="text" class="form-control" name="fb" value="<%=data.fb%>">
        <h2>Instagram link</h2>
        <input type="text" class="form-control" name="insta" value="<%=data.insta%>">
        <h2>Website link</h2>
        <input type="text" class="form-control" name="businessWebsite" value="<%=data.businessWebsite%>">
      </div>
      <div class="col-lg-6">

        <div class="col-lg-12">
          <p>Map Location</p>
          <div class="container well mt-3">
            <div id="maparea" style="width: 100%; height: 400px;"></div>
            <p> <label for="">Location:</label> <input type="text" value="<%=data.address%>" name="address"
                id="us2-address" class="form-control" /> </p>
            <p><label for="">Lat.:</label> <input type="text" value="<%=data.lat%>" name="lat" id="us2-lat"
                class="form-control" /></p>
            <p><label for="">Long.:</label> <input type="text" name="lon" value="<%=data.lon%>" id="us2-lon"
                class="form-control" /></p>
            <div class=""></div>
          </div>

        </div>
        </form>
        <div class="col-lg-12">

          <input type="submit" class="btn btn-info mt-3" data-toggle="modal" data-target="#taxModalLong"
            value="TAX Info">

          <div class="modal fade" id="taxModalLong" role="dialog" aria-labelledby="exampleModalLongTitle"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">TAX Information</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form action="/shop/savetax" id="taxForm" method="post">
                  <div class="modal-body">
                    <div class="container">
                      <div class="row">
                        <div class="col-lg-6">
                          <p>Company Name</p>
                          <input name="companyName" type="text" value="<%=tax.companyName%>" class="form-control"
                            required>
                        </div>
                        <div class="col-lg-6">
                          <p>TAX ID</p>
                          <input name="taxID" type="text" value="<%=tax.taxID%>" class="form-control" required>
                        </div>
                        <div class="col-lg-6">
                          <p>Invoice Prefix</p>
                          <input name="invoicePrefix" type="text" value="<%=tax.invoicePrefix%>" class="form-control"
                            required>
                        </div>
                        <div class="col-lg-6">
                          <p>Correction Prefix</p>
                          <input name="correctionPrefix" type="text" value="<%=tax.correctionPrefix%>"
                            class="form-control" required>
                        </div>
                        <div class="col-lg-6">
                          <p>Prefix Cash In</p>
                          <input name="prefixCashIn" type="text" value="<%=tax.prefixCashIn%>" class="form-control"
                            required>
                        </div>
                        <div class="col-lg-6">
                          <p>Prefix Cash Out</p>
                          <input name="prefixCashOut" type="text" value="<%=tax.prefixCashOut%>" class="form-control"
                            required>
                        </div>
                        <div class="col-lg-6">
                          <p>Address</p>
                          <input name="address" type="text" value="<%=tax.address%>" class="form-control" required>
                        </div>
                        <div class="col-lg-6">
                          <p>Country</p>
                          <select name="country" id="" value="<%=tax.country%>" class="form-control">
                            <option value="United State of America">United State of America</option>
                            <option value="United Kingdom">United Kingdom</option>
                            <option value="Bangladesh">Bangladesh</option>
                            <option value="India">India</option>
                          </select>
                        </div>
                        <div class="col-lg-6">
                          <p>City</p>
                          <input name="city" type="text" value="<%=tax.city%>" class="form-control" required>
                        </div>
                        <div class="col-lg-6">
                          <p>Post Code</p>
                          <input name="postCode" type="text" value="<%=tax.postCode%>" class="form-control" required>
                        </div>
                        <div class="col-lg-4">
                          <p>Bank</p>
                          <input name="bank" type="text" value="<%=tax.bank%>" class="form-control" required>
                        </div>
                        <div class="col-lg-8">
                          <p>Account Number</p>
                          <input name="accountNumber" type="text" value="<%=tax.accountNumber%>" class="form-control"
                            required>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <!-- class="btn btn-primary" data-dismiss="modal" -->

                  <button type="submit" form="taxForm">Save changes</button>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /page content -->

  </div>
  </div>

 <!-- JS Plugin Start-->
 <%- include('./include/js.ejs') %>
  <!-- JS Plugin End-->

  <!-- custom js -->
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUJfIu3uSSh5QOT5nRZ0gEbeGONrY3pgQ&libraries=places&callback=initAutocomplete"></script>

  <script src="/js/shop/map.js"></script>
  <script src="/js/shop/script.js"></script>
  <script src="/js/shop/companyInfo.js"></script>

</body>

</html>