
 <!-- Header Start-->
 <%- include('./include/header.ejs') %>
  <!-- Header End-->
    
    <style>
        .nav-pad {
            display: block;
            padding: .5rem 1rem;
        }
    </style>
</head>

<body>
    <%- include('./sideBar.ejs') %>

        <!-- Page wrapper  -->
        <div class="page-wrapper">
            <div class="row page-titles">
                <div class="col-md-5 col-12 align-self-center">
                    <h3 class="text-themecolor mb-0">Invoice</h3>
                    <ol class="breadcrumb mb-0 p-0 bg-transparent">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active">Invoice Details</li>
                    </ol>
               </div>
            </div>

            <div class="container-fluid">   
                <!-- basic table -->
                <div class="row">
                    <div class="col-12">

                        <!-- tab card -->
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mb-3 text-center">Client invoice</h4>

                                <ul class="nav nav-pills bg-nav-pills nav-justified mb-3">
                                    <li class="nav-item">
                                        <a href="#total" data-toggle="tab" aria-expanded="false"
                                            class="nav-pad rounded-0 active">
                                            <div class="card card-hover">
                                                <div class="p-2 rounded bg-info text-center">
                                                    <h1 class="font-light text-white">
                                                        <%=total%>
                                                    </h1>
                                                    <h6 class="text-white">Total Invoices</h6>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#cancel" data-toggle="tab" aria-expanded="true"
                                            class="nav-pad rounded-0">
                                            <div class="card card-hover">
                                                <div class="p-2 rounded bg-primary text-center">
                                                    <h1 class="font-light text-white">
                                                        <%=cancel%>
                                                    </h1>
                                                    <h6 class="text-white">Cancel</h6>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#complete" data-toggle="tab" aria-expanded="false"
                                            class="nav-pad rounded-0">
                                            <div class="card card-hover">
                                                <div class="p-2 rounded bg-success text-center">
                                                    <h1 class="font-light text-white">
                                                        <%=complete%>
                                                    </h1>
                                                    <h6 class="text-white">Complete</h6>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#pending" data-toggle="tab" aria-expanded="false"
                                            class="nav-pad rounded-0">
                                            <div class="card card-hover">
                                                <div class="p-2 rounded bg-dark text-center">
                                                    <h1 class="font-light text-white">
                                                        <%=pending%>
                                                    </h1>
                                                    <h6 class="text-white">Pending</h6>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>

                                <div class="tab-content">
                                    <div class="tab-pane show active" id="total">
                                        <h1>Total</h1>
                                        <div class="table-responsive">
                                            <% if(data.length !==0) { %>
                                                <table id="zero_config" class="table table-striped table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>Status</th>
                                                            <th>User info</th>
                                                            <th>Invoice</th>
                                                            <th>Service</th>
                                                            <th>Date</th>
                                                            <th>Time</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                        <% for(i=0;i<data.length;i++) { %>
                                                            <form action="/shop/saleslist" method="POST">
                                                                <input type="hidden" name="mail"
                                                                    value="<%=data[i].userMail%>">
                                                                <input type="hidden" name="bookid"
                                                                    value="<%=data[i].bookingID%>">

                                                                <tr>
                                                                    <% if(data[i].status==0) { %>
                                                                        <td><span
                                                                                class="badge badge-warning">Pending</span>
                                                                        </td>
                                                                        <% } else if(data[i].status==-1) { %>
                                                                            <td><span
                                                                                    class="badge badge-danger">Cancled</span>
                                                                            </td>
                                                                            <% } else if(data[i].status==1) { %>
                                                                                <td><span
                                                                                        class="badge badge-success">Completed</span>
                                                                                </td>
                                                                                <% } %>

                                                                                    <td><input type="submit"
                                                                                            class="font-medium link"
                                                                                            value="<%=data[i].userMail%>">
                                                                                    </td>
                                                                                    <td>
                                                                                        <%=data[i].bookingID%>
                                                                                    </td>
                                                                                    <td>
                                                                                        <%=data[i].serviceName%>
                                                                                    </td>
                                                                                    <td>
                                                                                        <%=data[i].day%>
                                                                                    </td>
                                                                                    <td>
                                                                                        <%=data[i].timeSlotStart%>-
                                                                                            <%=data[i].timeSlotEnd%>
                                                                                    </td>
                                                                </tr>
                                                            </form>
                                                            <% } %>

                                                    </tbody>

                                                </table>
                                                <% } %>

                                        </div>
                                    </div>
                                    <div class="tab-pane" id="cancel">
                                        <h1>Cancel</h1>
                                        <div class="table-responsive">
                                            <% if(cacelData.length !==0) { %>
                                                <table id="zero_config" class="table table-striped table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>Status</th>
                                                            <th>User info</th>
                                                            <th>Invoice</th>
                                                            <th>Service</th>
                                                            <th>Date</th>
                                                            <th>Time</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                        <% for(i=0;i<cacelData.length;i++) { %>
                                                            <form action="/shop/saleslist" method="POST">
                                                                <input type="hidden" name="mail"
                                                                    value="<%=cacelData[i].userMail%>">
                                                                <input type="hidden" name="bookid"
                                                                    value="<%=cacelData[i].bookingID%>">
                                                                <tr>
                                                                    <td><span class="badge badge-danger">Cancled</span>
                                                                    </td>
                                                                    <td><input type="submit" class="font-medium link"
                                                                            value="<%=cacelData[i].userMail%>"></td>
                                                                    <td>
                                                                        <%=cacelData[i].bookingID%>
                                                                    </td>
                                                                    <td>
                                                                        <%=cacelData[i].serviceName%>
                                                                    </td>
                                                                    <td>
                                                                        <%=cacelData[i].day%>
                                                                    </td>
                                                                    <td>
                                                                        <%=cacelData[i].timeSlotStart%>-
                                                                            <%=cacelData[i].timeSlotEnd%>
                                                                    </td>
                                                                </tr>
                                                            </form>
                                                            <% } %>

                                                    </tbody>

                                                </table>
                                                <% } %>

                                        </div>
                                    </div>
                                    <div class="tab-pane" id="complete">
                                        <h1>Complete</h1>
                                        <div class="table-responsive">
                                            <% if(completeData.length !==0) { %>
                                                <table id="zero_config" class="table table-striped table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>Status</th>
                                                            <th>User info</th>
                                                            <th>Invoice</th>
                                                            <th>Service</th>
                                                            <th>Date</th>
                                                            <th>Time</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                        <% for(i=0;i<completeData.length;i++) { %>
                                                            <form action="/shop/saleslist" method="POST">
                                                                <input type="hidden" name="mail"
                                                                    value="<%=completeData[i].userMail%>">
                                                                <input type="hidden" name="bookid"
                                                                    value="<%=completeData[i].bookingID%>">

                                                                <tr>
                                                                    <td><span
                                                                            class="badge badge-success">Completed</span>
                                                                    </td>
                                                                    <td><input type="submit" class="font-medium link"
                                                                            value="<%=completeData[i].userMail%>"></td>
                                                                    <td>
                                                                        <%=completeData[i].bookingID%>
                                                                    </td>
                                                                    <td>
                                                                        <%=completeData[i].serviceName%>
                                                                    </td>
                                                                    <td>
                                                                        <%=completeData[i].day%>
                                                                    </td>
                                                                    <td>
                                                                        <%=completeData[i].timeSlotStart%>-
                                                                            <%=completeData[i].timeSlotEnd%>
                                                                    </td>
                                                                </tr>
                                                            </form>
                                                            <% } %>

                                                    </tbody>
                                                </table>
                                                <% } %>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="pending">
                                        <h1>Pending</h1>
                                        <div class="table-responsive">
                                            <% if(pendingData.length !==0) { %>
                                                <table id="zero_config" class="table table-striped table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>Status</th>
                                                            <th>User info</th>
                                                            <th>Invoice</th>
                                                            <th>Service</th>
                                                            <th>Date</th>
                                                            <th>Time</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                        <% for(i=0;i<pendingData.length;i++) { %>
                                                            <form action="/shop/saleslist" method="POST">
                                                                <input type="hidden" name="mail"
                                                                    value="<%=pendingData[i].userMail%>">
                                                                <input type="hidden" name="bookid"
                                                                    value="<%=pendingData[i].bookingID%>">

                                                                <tr>
                                                                    <td><span class="badge badge-warning">Pending</span>
                                                                    </td>
                                                                    <td><input type="submit" class="font-medium link"
                                                                            value="<%=pendingData[i].userMail%>"></td>
                                                                    <td>
                                                                        <%=pendingData[i].bookingID%>
                                                                    </td>
                                                                    <td>
                                                                        <%=pendingData[i].serviceName%>
                                                                    </td>
                                                                    <td>
                                                                        <%=pendingData[i].day%>
                                                                    </td>
                                                                    <td>
                                                                        <%=pendingData[i].timeSlotStart%>-
                                                                            <%=pendingData[i].timeSlotEnd%>
                                                                    </td>
                                                                </tr>
                                                            </form>
                                                            <% } %>

                                                    </tbody>

                                                </table>
                                                <% } %>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        </div> 
                    </div>
                </div>
            </div>
        </div>
        </div>

 <!-- JS Plugin Start-->
 <%- include('./include/js.ejs') %>
  <!-- JS Plugin End-->
</body>

</html>