
 <!-- Header Start-->
 <%- include('./include/header.ejs') %>
  <!-- Header End-->
   <link rel="stylesheet" href="/css/shop/paclageDetail.css">
</head>

<body>
    <%- include('./sideBar.ejs') %>

    <div class="page-wrapper">

        <div class="row page-titles">
            <div class="col-md-5 col-12 align-self-center">
                <h3 class="text-themecolor mb-0">Packages</h3>
                <ol class="breadcrumb mb-0 p-0 bg-transparent">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item active">Packages List</li>
                </ol>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered" id="editableTable">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Packages Token</th>
                                <th>Package Service</th>
                                <th>Package Amount</th>
                                <th>Package Price</th>
                                <th>Tax</th>
                                <th>Valid till</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(i=0;i<package.length;i++){ %> 
                            <tr data-id="<%=i%>">
                                <td data-field="name"><%=package[i].packageName%></td>
                                <td data-field="Description"><%=package[i].description%></td>
                                <td data-field="Package Token"><%=package[i].token%></td>
                                <td data-field="Package Service"><%=package[i].service%></td>
                                <td data-field="Package Amount"><%=package[i].amount%></td>
                                <td data-field="Package Price"> <span>$</span> <%=package[i].price%></td>
                                <td data-field="Tax"><%=package[i].tax%>%</td>
                                <td data-field="Valid till"><%=package[i].endDate%></td>
                                
                                <td>
                                    <form action="/shop/deletepackage" method="post">
                                        <input type="hidden" name="token" value="<%=package[i].token%>" id="">
                                        <button type="submit" class="btn-dark">
                                            <i class="fa fa-trash text-danger"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            <% } %>  
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <!-- End Container fluid  -->
    </div>

    </div>
 <!-- JS Plugin Start-->
 <%- include('./include/js.ejs') %>
  <!-- JS Plugin End-->
  
</body>

</html>