
 <!-- Header Start-->
 <%- include('./include/header.ejs') %>
  <!-- Header End-->
  <link rel="stylesheet" href="/public/css/shop/package.css">
</head>

<body>


    <%- include('./sideBar.ejs') %>
        <!-- Page wrapper  -->
        <div class="page-wrapper">
            <!-- Bread crumb and right sidebar toggle -->
            <div class="row page-titles">
                <div class="col-md-5 col-12 align-self-center">
                    <h3 class="text-themecolor mb-0">Package</h3>
                    <ol class="breadcrumb mb-0 p-0 bg-transparent">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active">Package Add</li>
                    </ol>
                </div>

            </div>

            <div class="container-fluid">

                <div class="row">
                    <!-- Column -->
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h2 class="text-center text-success">Packages Card Name</h2>
                                <h5>To sell a Package, a template for the Package must be created.</h5>
                                <h5>When creating a new Package Template, you must specify the Name, Description,
                                    Validity
                                    (length of time it will be valid) and Price (the price your customer will pay).</h5>
                                <h5>Your Package Templates are available for purchase in the Sales section</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">

                        <div class="card">
                            <div class="card-body">
                                <% for(let i=0; i<pack.length;i++){ %>
                                    <a class="btn btn-danger" data-toggle="modal" data-target="#edit<%=i%>">
                                        <%=pack[i].packageName%>
                                    </a>
                                    <% } %>

                            </div>
                            <% for(let i=0; i<pack.length;i++){ %>

                                <div class="modal fade" id="edit<%=i%>" tabindex="-1" role="dialog"
                                    aria-labelledby="<%=i%>" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <form action="/shop/updatepackage" method="POST" id="update">
                                            <div class="modal-content">

                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLongTitle">Edit Packages
                                                    </h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <div class="form-body">
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <label class="control-label">Package
                                                                                Name</label>
                                                                                <input type="text" name="prevName" value="<%=pack[i].packageName%>" hidden>
                                                                            <input type="text" class="form-control"
                                                                                placeholder="Enter your Package Name"
                                                                                name="name"
                                                                                value="<%=pack[i].packageName%>"
                                                                                required>
                                                                        </div>
                                                                    </div>
                                                                    <!--/span-->
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <label
                                                                                class="control-label">Description</label>
                                                                            <input type="text" name="des"
                                                                                class="form-control"
                                                                                value="<%=pack[i].description%>"
                                                                                placeholder="Enter your Description"
                                                                                required>
                                                                        </div>
                                                                    </div>
                                                                    <!--/span-->
                                                                </div>
                                                                <!--/row-->
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <div class="card">
                                                                                <label class="control-label">Validity
                                                                                    Date</label>
                                                                                <select name="validity"
                                                                                    class="form-control" required>
                                                                                   
                                                                                    <option value="30" selected>30 days</option>
                                                                                    <option value="90">90 Days</option>
                                                                                    <option value="180">6 months
                                                                                    </option>
                                                                                    <option value="365">1 year</option>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <!--/span-->

                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <div class="card">
                                                                                <label class="control-label">TAX
                                                                                    Rate</label>
                                                                                <select name="tax" class="form-control"
                                                                                    required>
                                                                                    <option value="<%=pack[i].tax%>"
                                                                                        selected>
                                                                                        <%=pack[i].tax%>
                                                                                    </option>
                                                                                    <option value="0">0% (free)</option>
                                                                                    <option value="5.0">5.00%</option>
                                                                                    <option value="10.0">10.00%</option>
                                                                                    <option value="12.0">12.00%</option>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <!--/span-->
                                                                </div>


                                                                <!--/row-->
                                                                <div class="row">

                                                                    <!--/span-->
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <div class="card">
                                                                                <label class="control-label">Select
                                                                                    Service</label>
                                                                                <select name="service"
                                                                                    class="form-control" required>
                                                                                    <option value="<%=pack[i].service%>"
                                                                                        selected>
                                                                                        <%=pack[i].service%>
                                                                                    </option>
                                                                                    <% for(let i=0;i< service.length;
                                                                                        i++){ %>
                                                                                        <option>
                                                                                            <%=service[i].name%>
                                                                                        </option>
                                                                                        <% } %>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <label class="control-label">Service
                                                                                Amount</label>
                                                                            <input type="text" class="form-control"
                                                                                name="amount"
                                                                                value="<%=pack[i].amount%>"
                                                                                placeholder="service amount" required>
                                                                        </div>
                                                                    </div>
                                                                    <!--/span-->
                                                                </div>


                                                                <!--/span-->
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label class="control-label">Service
                                                                            Price</label>
                                                                        <input type="text" class="form-control"
                                                                            name="price" value="<%=pack[i].price%>"
                                                                            placeholder="service price" required>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>


                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">Close</button>
                                                </div>

                                                <button type="button" onclick="updateSubmit()" type="submit"
                                                    class="btn btn-primary">Save
                                                    changes</button>
                                            </div>
                                        </form>
                                    </div>

                                </div>

                                <% } %>
                        </div>

                    </div>
                    <div class="col-lg-12">
                        <form action="/shop/package" method="post">
                            <div class="card">
                                <div class="card-body">

                                    <div class="form-body">
                                        <h5 class="card-title">Add Packages</h5>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Package Name</label>
                                                    <input name="name" type="text" class="form-control"
                                                        placeholder="Enter your Package Name" required>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Description</label>
                                                    <input name="des" type="text" class="form-control"
                                                        placeholder="Enter your Description" required>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <div class="card">
                                                        <label class="control-label">Validity Date</label>
                                                        <select name="validity" class="form-control" id="" required>
                                                            <option value="30">30 days</option>
                                                            <option value="90">90 Days</option>
                                                            <option value="180">6 months</option>
                                                            <option value="365">1 year</option>

                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <div class="card">
                                                        <label class="control-label">TAX Rate</label>
                                                        <select name="tax" class="form-control" id="" required>
                                                            <option value="0">0% (free)</option>
                                                            <option value="5.0">5.00%</option>
                                                            <option value="10.0">10.00%</option>
                                                            <option value="12.0">12.00%</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>


                                        <!--/row-->
                                        <div class="row">

                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <div class="card">
                                                        <label class="control-label">Select Service</label>
                                                        <select name="service" class="form-control" id="" required>
                                                            <% for(let i=0;i<service.length; i++){ %>
                                                                <option>
                                                                    <%=service[i].name%>
                                                                </option>
                                                                <% } %>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Service Amount</label>
                                                    <input type="text" name="amount" class="form-control"
                                                        placeholder="service amount" required>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>


                                        <!--/span-->
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">Service Price</label>
                                                <input type="text" name="price" class="form-control"
                                                    placeholder="service price" required>
                                            </div>
                                        </div>
                                    </div>



                                    <hr>
                                </div>
                                <div class="form-actions mt-5 mb-5 ml-5">
                                    <!-- <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> Save</button> -->
                                    <input type="submit" class="btn btn-success" value="Save">
                                    <button type="button" class="btn btn-dark">Cancel</button>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
                <!-- Column -->
            </div>
            <!-- End PAge Content -->
        </div>
        <!-- End Container fluid  -->
        </div>
        <!-- End Page wrapper  -->
        </div>
        <!-- End Wrapper -->

        <!-- All Jquery -->
 <!-- JS Plugin Start-->
 <%- include('./include/js.ejs') %>
  <!-- JS Plugin End-->

        <script>
            function updateSubmit() {
                document.getElementById("update").submit();
            }
            function serviceAdd() {

                let serviceValue = document.getElementById("service").value;

                document.getElementById("memberService").innerHTML += `<div class="row"><div class="col-md-6">
                                            <div class="serviceCard">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <h4>${serviceValue}</h4>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <button class="btn btn-info" data-toggle="modal" data-target="#${serviceValue}">Edit</button>
                                                        <div class="modal fade" id="${serviceValue}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                              <div class="modal-content">
                                                <div class="modal-header">
                                                  <h5 class="modal-title" id="exampleModalLabel">Service</h5>
                                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                  </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="form-group">
                                                     
                                                            <label class="control-label">Select service</label>
                                                            <select class="form-control" id="service">
                                                                <option value="one">service one</option>
                                                                <option value="two">service two</option>
                                                                <option value="three">service three</option>
                                                                <option value="four">service four</option>
                                                            </select>
                                                        
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                  <button type="button" class="btn btn-primary membershipModalBtn">Save changes</button>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                    </div>`;
            }

            $(document).ready(function () {
                // Open modal on page load
                // $("#membershipModal").modal('show');

                // Close modal on button click
                $(".membershipModalBtn").click(function () {
                    $("#membershipModal").modal('hide');
                });


            });
        </script>

</body>

</html>